{
  "swagger": "2.0",
  "info": {
    "title": "API para PMSB22",
    "version": "v1"
  },
  "host": "pmsb22-api-h933v.ondigitalocean.app",
  "schemes": [
    "https"
  ],
  "basePath": "/api/v1",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "Basic": {
      "type": "basic"
    }
  },
  "security": [
    {
      "Basic": []
    }
  ],
  "paths": {
    "/indicators/group/": {
      "get": {
        "operationId": "indicators_group_list",
        "summary": "GroupView",
        "description": "Listar todos os grupos",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/GroupGetResponse"
            }
          }
        },
        "tags": [
          "indicators"
        ]
      },
      "post": {
        "operationId": "indicators_group_create",
        "summary": "GroupView",
        "description": "Cadastrar um grupo",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GroupPostBody"
            }
          }
        ],
        "responses": {},
        "tags": [
          "indicators"
        ]
      },
      "parameters": []
    },
    "/indicators/group/{id}/": {
      "get": {
        "operationId": "indicators_group_read",
        "summary": "GroupDetailView",
        "description": "Listar um grupo",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/GroupDetailGetResponse"
            }
          }
        },
        "tags": [
          "indicators"
        ]
      },
      "patch": {
        "operationId": "indicators_group_partial_update",
        "summary": "GroupDetailView",
        "description": "Atualizar um grupo",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GroupDetailPatchBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/GroupDetailPatchBody"
            }
          }
        },
        "tags": [
          "indicators"
        ]
      },
      "delete": {
        "operationId": "indicators_group_delete",
        "summary": "GroupDetailView",
        "description": "Deletar um grupo",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "indicators"
        ]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/indicators/history/": {
      "get": {
        "operationId": "indicators_history_list",
        "summary": "HistoryView",
        "description": "Listar todos os historicos",
        "parameters": [
          {
            "name": "variable",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "local",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/HistoryGetResponse"
            }
          }
        },
        "tags": [
          "indicators"
        ]
      },
      "parameters": []
    },
    "/indicators/link/": {
      "get": {
        "operationId": "indicators_link_list",
        "summary": "LinkView",
        "description": "Listar todos os links",
        "parameters": [
          {
            "name": "local",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/LinkGetResponse"
            }
          }
        },
        "tags": [
          "indicators"
        ]
      },
      "post": {
        "operationId": "indicators_link_create",
        "summary": "LinkView",
        "description": "Cadastrar um link",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LinkPostBody"
            }
          }
        ],
        "responses": {},
        "tags": [
          "indicators"
        ]
      },
      "parameters": []
    },
    "/indicators/link/{id}/": {
      "get": {
        "operationId": "indicators_link_read",
        "summary": "LinkDetailView",
        "description": "Listar um link",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/LinkDetailGetResponse"
            }
          }
        },
        "tags": [
          "indicators"
        ]
      },
      "patch": {
        "operationId": "indicators_link_partial_update",
        "summary": "LinkDetailView",
        "description": "Atualizar um link",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LinkDetailPatchBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/LinkDetailPatchBody"
            }
          }
        },
        "tags": [
          "indicators"
        ]
      },
      "delete": {
        "operationId": "indicators_link_delete",
        "summary": "LinkDetailView",
        "description": "Deletar um link",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "indicators"
        ]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/indicators/local/": {
      "get": {
        "operationId": "indicators_local_list",
        "summary": "LocalView",
        "description": "Listar todos os locais",
        "parameters": [
          {
            "name": "uf",
            "in": "query",
            "required": false,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/LocalGetResponse"
            }
          }
        },
        "tags": [
          "indicators"
        ]
      },
      "post": {
        "operationId": "indicators_local_create",
        "summary": "LocalView",
        "description": "Cadastrar um local",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LocalPostBody"
            }
          }
        ],
        "responses": {},
        "tags": [
          "indicators"
        ]
      },
      "parameters": []
    },
    "/indicators/local/ufs/": {
      "get": {
        "operationId": "indicators_local_ufs_list",
        "summary": "LocalUfsView",
        "description": "Listar apenas UFs",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/LocalGetResponse"
            }
          }
        },
        "tags": [
          "indicators"
        ]
      },
      "parameters": []
    },
    "/indicators/local/{id}/": {
      "get": {
        "operationId": "indicators_local_read",
        "summary": "LocalDetailView",
        "description": "Listar um local",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/LocalDetailGetResponse"
            }
          }
        },
        "tags": [
          "indicators"
        ]
      },
      "patch": {
        "operationId": "indicators_local_partial_update",
        "summary": "LocalDetailView",
        "description": "Atualizar um local",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LocalDetailPatchBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/LocalDetailPatchBody"
            }
          }
        },
        "tags": [
          "indicators"
        ]
      },
      "delete": {
        "operationId": "indicators_local_delete",
        "summary": "LocalDetailView",
        "description": "Deletar um local",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "indicators"
        ]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/indicators/tutorial/": {
      "get": {
        "operationId": "indicators_tutorial_list",
        "summary": "TutorialView",
        "description": "Listar todos os tutoriais",
        "parameters": [
          {
            "name": "is_public",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": true,
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/TutorialGetResponse"
            }
          }
        },
        "tags": [
          "indicators"
        ]
      },
      "parameters": []
    },
    "/indicators/value/": {
      "get": {
        "operationId": "indicators_value_list",
        "summary": "ValueView",
        "description": "Listar todos os valores",
        "parameters": [
          {
            "name": "variable",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "local",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "year",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "month",
            "in": "query",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ValueGetResponse"
            }
          }
        },
        "tags": [
          "indicators"
        ]
      },
      "post": {
        "operationId": "indicators_value_create",
        "summary": "ValueView",
        "description": "Cadastrar um valor",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ValuePostBody"
            }
          }
        ],
        "responses": {},
        "tags": [
          "indicators"
        ]
      },
      "parameters": []
    },
    "/indicators/value/{id}/": {
      "get": {
        "operationId": "indicators_value_read",
        "summary": "ValueDetailView",
        "description": "Listar um valor",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ValueDetailGetResponse"
            }
          }
        },
        "tags": [
          "indicators"
        ]
      },
      "patch": {
        "operationId": "indicators_value_partial_update",
        "summary": "ValueDetailView",
        "description": "Atualizar um valor",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ValueDetailPatchBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ValueDetailPatchBody"
            }
          }
        },
        "tags": [
          "indicators"
        ]
      },
      "delete": {
        "operationId": "indicators_value_delete",
        "summary": "ValueDetailView",
        "description": "Deletar um valor",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "indicators"
        ]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/indicators/variable/": {
      "get": {
        "operationId": "indicators_variable_list",
        "summary": "VariableView",
        "description": "Listar todas as variaveis",
        "parameters": [
          {
            "name": "group",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "is_indicator",
            "in": "query",
            "required": false,
            "type": "boolean",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/VariableGetResponse"
            }
          }
        },
        "tags": [
          "indicators"
        ]
      },
      "parameters": []
    },
    "/indicators/variable/{id}/": {
      "get": {
        "operationId": "indicators_variable_read",
        "summary": "VariableDetailView",
        "description": "Listar um variavel",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/VariableDetailGetResponse"
            }
          }
        },
        "tags": [
          "indicators"
        ]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/indicators/variable/{id}/calculate/{local__id}/{year}/{month}/": {
      "patch": {
        "operationId": "indicators_variable_calculate_partial_update",
        "summary": "VariableCalculateView",
        "description": "Atualizar uma variável",
        "parameters": [],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "tags": [
          "indicators"
        ]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "local__id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "year",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "month",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/users/token/": {
      "post": {
        "operationId": "users_token_create",
        "description": "Takes a set of user credentials and returns an access and refresh JSON web\ntoken pair to prove the authentication of those credentials.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TokenObtainPair"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/TokenObtainPair"
            }
          }
        },
        "tags": [
          "users"
        ]
      },
      "parameters": []
    },
    "/users/token/refresh/": {
      "post": {
        "operationId": "users_token_refresh_create",
        "description": "Takes a refresh type JSON web token and returns an access type JSON web\ntoken if the refresh token is valid.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TokenRefresh"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/TokenRefresh"
            }
          }
        },
        "tags": [
          "users"
        ]
      },
      "parameters": []
    },
    "/users/token/verify/": {
      "post": {
        "operationId": "users_token_verify_create",
        "description": "Takes a token and indicates if it is valid.  This view provides no\ninformation about a token's fitness for a particular use.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TokenVerify"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/TokenVerify"
            }
          }
        },
        "tags": [
          "users"
        ]
      },
      "parameters": []
    },
    "/users/user/": {
      "get": {
        "operationId": "users_user_list",
        "summary": "UserView",
        "description": "Listar todos os usuários",
        "parameters": [
          {
            "name": "name__icontains",
            "in": "query",
            "required": false,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "email__icontains",
            "in": "query",
            "required": false,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "phone__icontains",
            "in": "query",
            "required": false,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/UserResponse"
            }
          }
        },
        "tags": [
          "users"
        ]
      },
      "post": {
        "operationId": "users_user_create",
        "summary": "UserView",
        "description": "Criar usuário pelo vendedor",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/UserResponse"
            }
          }
        },
        "tags": [
          "users"
        ]
      },
      "parameters": []
    },
    "/users/user/change-password/": {
      "post": {
        "operationId": "users_user_change-password_create",
        "summary": "UserChangePasswordView",
        "description": "Mudar senha de usuário logado",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserChangePasswordBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Message..."
          }
        },
        "tags": [
          "users"
        ]
      },
      "parameters": []
    },
    "/users/user/create/": {
      "post": {
        "operationId": "users_user_create_create",
        "summary": "UserCreateView",
        "description": "Criar usuário no login",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserCreateBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/UserCreateResponse"
            }
          }
        },
        "tags": [
          "users"
        ]
      },
      "parameters": []
    },
    "/users/user/exist/": {
      "post": {
        "operationId": "users_user_exist_create",
        "summary": "UserExistView",
        "description": "Verificar se email existe como usuário cadastrado",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserExistBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Message..."
          }
        },
        "tags": [
          "users"
        ]
      },
      "parameters": []
    },
    "/users/user/forgot-password/": {
      "post": {
        "operationId": "users_user_forgot-password_create",
        "summary": "UserForgotPasswordView",
        "description": "Alterar senha esquecida pelo usuário",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserForgotPasswordBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mensagem..."
          }
        },
        "tags": [
          "users"
        ]
      },
      "parameters": []
    },
    "/users/user/me/": {
      "get": {
        "operationId": "users_user_me_list",
        "summary": "UserMeView",
        "description": "Listar dados do usuário logado",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/UserMeResponse"
            }
          }
        },
        "tags": [
          "users"
        ]
      },
      "parameters": []
    },
    "/users/user/send-code/": {
      "post": {
        "operationId": "users_user_send-code_create",
        "summary": "UserSendCodeView",
        "description": "Enviar código (6 numeros) de validação para email",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserSendCodeBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Messagem ..."
          }
        },
        "tags": [
          "users"
        ]
      },
      "parameters": []
    },
    "/users/user/{id}/": {
      "get": {
        "operationId": "users_user_read",
        "summary": "UserDetailView",
        "description": "Obter usuário por id",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/UserDetailResponse"
            }
          }
        },
        "tags": [
          "users"
        ]
      },
      "patch": {
        "operationId": "users_user_partial_update",
        "summary": "UserDetailView",
        "description": "Atualizar dados de usuário",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserDetailBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/UserDetailResponse"
            }
          }
        },
        "tags": [
          "users"
        ]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    }
  },
  "definitions": {
    "GroupGetResponse": {
      "required": [
        "abbreviation",
        "name"
      ],
      "type": "object",
      "properties": {
        "id": {
          "title": "Identificador Único Universal",
          "type": "string",
          "format": "uuid",
          "readOnly": true
        },
        "abbreviation": {
          "title": "Abreviação",
          "type": "string",
          "maxLength": 25,
          "minLength": 1
        },
        "name": {
          "title": "Sigla",
          "description": "...(name)",
          "type": "string",
          "maxLength": 255,
          "minLength": 1
        }
      }
    },
    "GroupPostBody": {
      "required": [
        "abbreviation",
        "name"
      ],
      "type": "object",
      "properties": {
        "abbreviation": {
          "title": "Abbreviation",
          "type": "string",
          "minLength": 1
        },
        "name": {
          "title": "Name",
          "type": "string",
          "minLength": 1
        }
      }
    },
    "GroupDetailGetResponse": {
      "required": [
        "abbreviation",
        "name"
      ],
      "type": "object",
      "properties": {
        "id": {
          "title": "Identificador Único Universal",
          "type": "string",
          "format": "uuid",
          "readOnly": true
        },
        "abbreviation": {
          "title": "Abreviação",
          "type": "string",
          "maxLength": 25,
          "minLength": 1
        },
        "name": {
          "title": "Sigla",
          "description": "...(name)",
          "type": "string",
          "maxLength": 255,
          "minLength": 1
        }
      }
    },
    "GroupDetailPatchBody": {
      "type": "object",
      "properties": {
        "abbreviation": {
          "title": "Abbreviation",
          "type": "string",
          "minLength": 1
        },
        "name": {
          "title": "Name",
          "type": "string",
          "minLength": 1
        }
      }
    },
    "History.Variable.Group": {
      "required": [
        "abbreviation",
        "name"
      ],
      "type": "object",
      "properties": {
        "id": {
          "title": "Identificador Único Universal",
          "type": "string",
          "format": "uuid",
          "readOnly": true
        },
        "abbreviation": {
          "title": "Abreviação",
          "type": "string",
          "maxLength": 25,
          "minLength": 1
        },
        "name": {
          "title": "Sigla",
          "description": "...(name)",
          "type": "string",
          "maxLength": 255,
          "minLength": 1
        }
      }
    },
    "History.Variable": {
      "required": [
        "name",
        "description",
        "unit",
        "group"
      ],
      "type": "object",
      "properties": {
        "id": {
          "title": "Identificador Único Universal",
          "type": "string",
          "format": "uuid",
          "readOnly": true
        },
        "name": {
          "title": "Nome",
          "type": "string",
          "maxLength": 50,
          "minLength": 1
        },
        "description": {
          "title": "Descrição",
          "type": "string",
          "maxLength": 255,
          "minLength": 1
        },
        "unit": {
          "title": "Unidade",
          "type": "string",
          "maxLength": 25,
          "minLength": 1
        },
        "minimum": {
          "title": "Minimo",
          "type": "number"
        },
        "maximum": {
          "title": "Máximo",
          "type": "number",
          "x-nullable": true
        },
        "group": {
          "$ref": "#/definitions/History.Variable.Group"
        },
        "document": {
          "title": "Documento",
          "type": "string",
          "maxLength": 2550,
          "x-nullable": true
        },
        "is_indicator": {
          "title": "É indicador",
          "type": "boolean"
        }
      }
    },
    "History.Local": {
      "required": [
        "uf",
        "city"
      ],
      "type": "object",
      "properties": {
        "id": {
          "title": "Identificador Único Universal",
          "type": "string",
          "format": "uuid",
          "readOnly": true
        },
        "uf": {
          "title": "Estado",
          "description": "Abreviatura de 2 letras maiusculas",
          "type": "string",
          "maxLength": 2,
          "minLength": 1
        },
        "city": {
          "title": "Cidade",
          "type": "string",
          "maxLength": 255,
          "minLength": 1
        },
        "region": {
          "title": "Região",
          "type": "string",
          "maxLength": 255,
          "x-nullable": true
        }
      }
    },
    "HistoryGetResponse": {
      "required": [
        "variable",
        "local"
      ],
      "type": "object",
      "properties": {
        "id": {
          "title": "Identificador Único Universal",
          "type": "string",
          "format": "uuid",
          "readOnly": true
        },
        "variable": {
          "$ref": "#/definitions/History.Variable"
        },
        "local": {
          "$ref": "#/definitions/History.Local"
        },
        "year_value": {
          "title": "Histórico anual",
          "type": "object",
          "x-nullable": true
        },
        "year_month_value": {
          "title": "Histórico Ano-Mês",
          "type": "object",
          "x-nullable": true
        }
      }
    },
    "Link.Local": {
      "required": [
        "uf",
        "city"
      ],
      "type": "object",
      "properties": {
        "id": {
          "title": "Identificador Único Universal",
          "type": "string",
          "format": "uuid",
          "readOnly": true
        },
        "uf": {
          "title": "Estado",
          "description": "Abreviatura de 2 letras maiusculas",
          "type": "string",
          "maxLength": 2,
          "minLength": 1
        },
        "city": {
          "title": "Cidade",
          "type": "string",
          "maxLength": 255,
          "minLength": 1
        },
        "region": {
          "title": "Região",
          "type": "string",
          "maxLength": 255,
          "x-nullable": true
        }
      }
    },
    "LinkGetResponse": {
      "required": [
        "local",
        "title",
        "link"
      ],
      "type": "object",
      "properties": {
        "id": {
          "title": "Identificador Único Universal",
          "type": "string",
          "format": "uuid",
          "readOnly": true
        },
        "local": {
          "$ref": "#/definitions/Link.Local"
        },
        "title": {
          "title": "Titulo",
          "description": "Título do link",
          "type": "string",
          "maxLength": 255,
          "minLength": 1
        },
        "description": {
          "title": "Descrição",
          "description": "Descrição do link",
          "type": "string",
          "maxLength": 255,
          "x-nullable": true
        },
        "link": {
          "title": "Link",
          "type": "string",
          "maxLength": 2555,
          "minLength": 1
        }
      }
    },
    "LinkPostBody": {
      "required": [
        "local",
        "title",
        "link"
      ],
      "type": "object",
      "properties": {
        "local": {
          "title": "Local",
          "type": "string",
          "format": "uuid"
        },
        "title": {
          "title": "Title",
          "type": "string",
          "minLength": 1
        },
        "description": {
          "title": "Description",
          "type": "string",
          "minLength": 1,
          "x-nullable": true
        },
        "link": {
          "title": "Link",
          "type": "string",
          "minLength": 1
        }
      }
    },
    "LinkDetailGetResponse": {
      "required": [
        "local",
        "title",
        "link"
      ],
      "type": "object",
      "properties": {
        "id": {
          "title": "Identificador Único Universal",
          "type": "string",
          "format": "uuid",
          "readOnly": true
        },
        "local": {
          "$ref": "#/definitions/Link.Local"
        },
        "title": {
          "title": "Titulo",
          "description": "Título do link",
          "type": "string",
          "maxLength": 255,
          "minLength": 1
        },
        "description": {
          "title": "Descrição",
          "description": "Descrição do link",
          "type": "string",
          "maxLength": 255,
          "x-nullable": true
        },
        "link": {
          "title": "Link",
          "type": "string",
          "maxLength": 2555,
          "minLength": 1
        }
      }
    },
    "LinkDetailPatchBody": {
      "type": "object",
      "properties": {
        "title": {
          "title": "Title",
          "type": "string",
          "minLength": 1
        },
        "description": {
          "title": "Description",
          "type": "string",
          "minLength": 1,
          "x-nullable": true
        },
        "link": {
          "title": "Link",
          "type": "string",
          "minLength": 1
        }
      }
    },
    "LocalGetResponse": {
      "required": [
        "uf",
        "city"
      ],
      "type": "object",
      "properties": {
        "id": {
          "title": "Identificador Único Universal",
          "type": "string",
          "format": "uuid",
          "readOnly": true
        },
        "uf": {
          "title": "Estado",
          "description": "Abreviatura de 2 letras maiusculas",
          "type": "string",
          "maxLength": 2,
          "minLength": 1
        },
        "city": {
          "title": "Cidade",
          "type": "string",
          "maxLength": 255,
          "minLength": 1
        },
        "region": {
          "title": "Região",
          "type": "string",
          "maxLength": 255,
          "x-nullable": true
        }
      }
    },
    "LocalPostBody": {
      "required": [
        "uf",
        "city"
      ],
      "type": "object",
      "properties": {
        "uf": {
          "title": "Uf",
          "type": "string",
          "minLength": 1
        },
        "city": {
          "title": "City",
          "type": "string",
          "minLength": 1
        },
        "region": {
          "title": "Region",
          "type": "string",
          "minLength": 1
        }
      }
    },
    "LocalDetailGetResponse": {
      "required": [
        "uf",
        "city"
      ],
      "type": "object",
      "properties": {
        "id": {
          "title": "Identificador Único Universal",
          "type": "string",
          "format": "uuid",
          "readOnly": true
        },
        "uf": {
          "title": "Estado",
          "description": "Abreviatura de 2 letras maiusculas",
          "type": "string",
          "maxLength": 2,
          "minLength": 1
        },
        "city": {
          "title": "Cidade",
          "type": "string",
          "maxLength": 255,
          "minLength": 1
        },
        "region": {
          "title": "Região",
          "type": "string",
          "maxLength": 255,
          "x-nullable": true
        }
      }
    },
    "LocalDetailPatchBody": {
      "type": "object",
      "properties": {
        "uf": {
          "title": "Uf",
          "type": "string",
          "minLength": 1
        },
        "city": {
          "title": "City",
          "type": "string",
          "minLength": 1
        },
        "region": {
          "title": "Region",
          "type": "string",
          "minLength": 1
        }
      }
    },
    "TutorialGetResponse": {
      "required": [
        "code",
        "name",
        "link",
        "is_public"
      ],
      "type": "object",
      "properties": {
        "id": {
          "title": "Identificador Único Universal",
          "type": "string",
          "format": "uuid",
          "readOnly": true
        },
        "code": {
          "title": "Código do tutorial",
          "type": "string",
          "maxLength": 25,
          "minLength": 1
        },
        "name": {
          "title": "Nome do tutorial",
          "type": "string",
          "maxLength": 255,
          "minLength": 1
        },
        "description": {
          "title": "Descriçao do tutorial",
          "type": "string",
          "maxLength": 255,
          "x-nullable": true
        },
        "link": {
          "title": "Link do tutorial",
          "type": "string",
          "maxLength": 255,
          "minLength": 1
        },
        "is_public": {
          "title": "É público?",
          "type": "boolean"
        }
      }
    },
    "Value.Variable.Group": {
      "required": [
        "abbreviation",
        "name"
      ],
      "type": "object",
      "properties": {
        "id": {
          "title": "Identificador Único Universal",
          "type": "string",
          "format": "uuid",
          "readOnly": true
        },
        "abbreviation": {
          "title": "Abreviação",
          "type": "string",
          "maxLength": 25,
          "minLength": 1
        },
        "name": {
          "title": "Sigla",
          "description": "...(name)",
          "type": "string",
          "maxLength": 255,
          "minLength": 1
        }
      }
    },
    "Value.Variable": {
      "required": [
        "name",
        "description",
        "unit",
        "group"
      ],
      "type": "object",
      "properties": {
        "id": {
          "title": "Identificador Único Universal",
          "type": "string",
          "format": "uuid",
          "readOnly": true
        },
        "name": {
          "title": "Nome",
          "type": "string",
          "maxLength": 50,
          "minLength": 1
        },
        "description": {
          "title": "Descrição",
          "type": "string",
          "maxLength": 255,
          "minLength": 1
        },
        "unit": {
          "title": "Unidade",
          "type": "string",
          "maxLength": 25,
          "minLength": 1
        },
        "minimum": {
          "title": "Minimo",
          "type": "number"
        },
        "maximum": {
          "title": "Máximo",
          "type": "number",
          "x-nullable": true
        },
        "group": {
          "$ref": "#/definitions/Value.Variable.Group"
        },
        "document": {
          "title": "Documento",
          "type": "string",
          "maxLength": 2550,
          "x-nullable": true
        },
        "is_indicator": {
          "title": "É indicador",
          "type": "boolean"
        }
      }
    },
    "Value.Local": {
      "required": [
        "uf",
        "city"
      ],
      "type": "object",
      "properties": {
        "id": {
          "title": "Identificador Único Universal",
          "type": "string",
          "format": "uuid",
          "readOnly": true
        },
        "uf": {
          "title": "Estado",
          "description": "Abreviatura de 2 letras maiusculas",
          "type": "string",
          "maxLength": 2,
          "minLength": 1
        },
        "city": {
          "title": "Cidade",
          "type": "string",
          "maxLength": 255,
          "minLength": 1
        },
        "region": {
          "title": "Região",
          "type": "string",
          "maxLength": 255,
          "x-nullable": true
        }
      }
    },
    "ValueGetResponse": {
      "required": [
        "variable",
        "local",
        "year",
        "value"
      ],
      "type": "object",
      "properties": {
        "id": {
          "title": "Identificador Único Universal",
          "type": "string",
          "format": "uuid",
          "readOnly": true
        },
        "variable": {
          "$ref": "#/definitions/Value.Variable"
        },
        "local": {
          "$ref": "#/definitions/Value.Local"
        },
        "year": {
          "title": "Ano",
          "type": "integer",
          "maximum": 32767,
          "minimum": 0
        },
        "month": {
          "title": "Mês",
          "type": "integer",
          "default": 0,
          "maximum": 32767,
          "minimum": 0
        },
        "value": {
          "title": "Valor",
          "type": "number"
        }
      }
    },
    "ValuePostBody": {
      "required": [
        "variable",
        "local",
        "value",
        "year",
        "month"
      ],
      "type": "object",
      "properties": {
        "variable": {
          "title": "Variable",
          "type": "string",
          "format": "uuid"
        },
        "local": {
          "title": "Local",
          "type": "string",
          "format": "uuid"
        },
        "value": {
          "title": "Value",
          "type": "number"
        },
        "year": {
          "title": "Year",
          "type": "integer"
        },
        "month": {
          "title": "Month",
          "type": "integer"
        }
      }
    },
    "ValueDetail.Variable.Group": {
      "required": [
        "abbreviation",
        "name"
      ],
      "type": "object",
      "properties": {
        "id": {
          "title": "Identificador Único Universal",
          "type": "string",
          "format": "uuid",
          "readOnly": true
        },
        "abbreviation": {
          "title": "Abreviação",
          "type": "string",
          "maxLength": 25,
          "minLength": 1
        },
        "name": {
          "title": "Sigla",
          "description": "...(name)",
          "type": "string",
          "maxLength": 255,
          "minLength": 1
        }
      }
    },
    "ValueDetail.Variable": {
      "required": [
        "name",
        "description",
        "group"
      ],
      "type": "object",
      "properties": {
        "id": {
          "title": "Identificador Único Universal",
          "type": "string",
          "format": "uuid",
          "readOnly": true
        },
        "name": {
          "title": "Nome",
          "type": "string",
          "maxLength": 50,
          "minLength": 1
        },
        "description": {
          "title": "Descrição",
          "type": "string",
          "maxLength": 255,
          "minLength": 1
        },
        "minimum": {
          "title": "Minimo",
          "type": "number"
        },
        "maximum": {
          "title": "Máximo",
          "type": "number",
          "x-nullable": true
        },
        "group": {
          "$ref": "#/definitions/ValueDetail.Variable.Group"
        }
      }
    },
    "ValueDetail.Local": {
      "required": [
        "uf",
        "city"
      ],
      "type": "object",
      "properties": {
        "id": {
          "title": "Identificador Único Universal",
          "type": "string",
          "format": "uuid",
          "readOnly": true
        },
        "uf": {
          "title": "Estado",
          "description": "Abreviatura de 2 letras maiusculas",
          "type": "string",
          "maxLength": 2,
          "minLength": 1
        },
        "city": {
          "title": "Cidade",
          "type": "string",
          "maxLength": 255,
          "minLength": 1
        },
        "region": {
          "title": "Região",
          "type": "string",
          "maxLength": 255,
          "x-nullable": true
        }
      }
    },
    "ValueDetailGetResponse": {
      "required": [
        "variable",
        "local",
        "value",
        "year"
      ],
      "type": "object",
      "properties": {
        "id": {
          "title": "Identificador Único Universal",
          "type": "string",
          "format": "uuid",
          "readOnly": true
        },
        "variable": {
          "$ref": "#/definitions/ValueDetail.Variable"
        },
        "local": {
          "$ref": "#/definitions/ValueDetail.Local"
        },
        "value": {
          "title": "Valor",
          "type": "number"
        },
        "year": {
          "title": "Ano",
          "type": "integer",
          "maximum": 32767,
          "minimum": 0
        },
        "month": {
          "title": "Mês",
          "type": "integer",
          "default": 0,
          "maximum": 32767,
          "minimum": 0
        }
      }
    },
    "ValueDetailPatchBody": {
      "type": "object",
      "properties": {
        "variable": {
          "title": "Variable",
          "type": "string",
          "format": "uuid"
        },
        "local": {
          "title": "Local",
          "type": "string",
          "format": "uuid"
        },
        "year": {
          "title": "Year",
          "type": "integer"
        },
        "month": {
          "title": "Month",
          "type": "integer"
        },
        "value": {
          "title": "Value",
          "type": "number"
        }
      }
    },
    "Variable.Group": {
      "required": [
        "abbreviation",
        "name"
      ],
      "type": "object",
      "properties": {
        "id": {
          "title": "Identificador Único Universal",
          "type": "string",
          "format": "uuid",
          "readOnly": true
        },
        "abbreviation": {
          "title": "Abreviação",
          "type": "string",
          "maxLength": 25,
          "minLength": 1
        },
        "name": {
          "title": "Sigla",
          "description": "...(name)",
          "type": "string",
          "maxLength": 255,
          "minLength": 1
        }
      }
    },
    "VariableGetResponse": {
      "required": [
        "name",
        "description",
        "unit",
        "group"
      ],
      "type": "object",
      "properties": {
        "id": {
          "title": "Identificador Único Universal",
          "type": "string",
          "format": "uuid",
          "readOnly": true
        },
        "name": {
          "title": "Nome",
          "type": "string",
          "maxLength": 50,
          "minLength": 1
        },
        "description": {
          "title": "Descrição",
          "type": "string",
          "maxLength": 255,
          "minLength": 1
        },
        "unit": {
          "title": "Unidade",
          "type": "string",
          "maxLength": 25,
          "minLength": 1
        },
        "minimum": {
          "title": "Minimo",
          "type": "number"
        },
        "maximum": {
          "title": "Máximo",
          "type": "number",
          "x-nullable": true
        },
        "group": {
          "$ref": "#/definitions/Variable.Group"
        },
        "document": {
          "title": "Documento",
          "type": "string",
          "maxLength": 2550,
          "x-nullable": true
        },
        "is_indicator": {
          "title": "É indicador",
          "type": "boolean"
        },
        "equation": {
          "title": "Equation",
          "type": "object",
          "x-nullable": true
        }
      }
    },
    "VariableDetail.Group": {
      "required": [
        "abbreviation",
        "name"
      ],
      "type": "object",
      "properties": {
        "id": {
          "title": "Identificador Único Universal",
          "type": "string",
          "format": "uuid",
          "readOnly": true
        },
        "abbreviation": {
          "title": "Abreviação",
          "type": "string",
          "maxLength": 25,
          "minLength": 1
        },
        "name": {
          "title": "Sigla",
          "description": "...(name)",
          "type": "string",
          "maxLength": 255,
          "minLength": 1
        }
      }
    },
    "VariableDetailGetResponse": {
      "required": [
        "name",
        "description",
        "unit",
        "group"
      ],
      "type": "object",
      "properties": {
        "id": {
          "title": "Identificador Único Universal",
          "type": "string",
          "format": "uuid",
          "readOnly": true
        },
        "name": {
          "title": "Nome",
          "type": "string",
          "maxLength": 50,
          "minLength": 1
        },
        "description": {
          "title": "Descrição",
          "type": "string",
          "maxLength": 255,
          "minLength": 1
        },
        "unit": {
          "title": "Unidade",
          "type": "string",
          "maxLength": 25,
          "minLength": 1
        },
        "minimum": {
          "title": "Minimo",
          "type": "number"
        },
        "maximum": {
          "title": "Máximo",
          "type": "number",
          "x-nullable": true
        },
        "group": {
          "$ref": "#/definitions/VariableDetail.Group"
        },
        "name_snis_2017": {
          "title": "Sigla no SNIS",
          "type": "string",
          "maxLength": 25,
          "x-nullable": true
        },
        "is_indicator": {
          "title": "É indicador",
          "type": "boolean"
        },
        "equation": {
          "title": "Equation",
          "type": "object",
          "x-nullable": true
        }
      }
    },
    "TokenObtainPair": {
      "required": [
        "email",
        "password"
      ],
      "type": "object",
      "properties": {
        "email": {
          "title": "Email",
          "type": "string",
          "minLength": 1
        },
        "password": {
          "title": "Password",
          "type": "string",
          "minLength": 1
        }
      }
    },
    "TokenRefresh": {
      "required": [
        "refresh"
      ],
      "type": "object",
      "properties": {
        "refresh": {
          "title": "Refresh",
          "type": "string",
          "minLength": 1
        },
        "access": {
          "title": "Access",
          "type": "string",
          "readOnly": true,
          "minLength": 1
        }
      }
    },
    "TokenVerify": {
      "required": [
        "token"
      ],
      "type": "object",
      "properties": {
        "token": {
          "title": "Token",
          "type": "string",
          "minLength": 1
        }
      }
    },
    "User.Local": {
      "required": [
        "uf",
        "city"
      ],
      "type": "object",
      "properties": {
        "id": {
          "title": "Identificador Único Universal",
          "type": "string",
          "format": "uuid",
          "readOnly": true
        },
        "uf": {
          "title": "Estado",
          "description": "Abreviatura de 2 letras maiusculas",
          "type": "string",
          "maxLength": 2,
          "minLength": 1
        },
        "city": {
          "title": "Cidade",
          "type": "string",
          "maxLength": 255,
          "minLength": 1
        },
        "region": {
          "title": "Região",
          "type": "string",
          "maxLength": 255,
          "x-nullable": true
        }
      }
    },
    "UserResponse": {
      "required": [
        "email",
        "locals"
      ],
      "type": "object",
      "properties": {
        "id": {
          "title": "Id",
          "type": "string",
          "format": "uuid",
          "readOnly": true
        },
        "email": {
          "title": "Email",
          "type": "string",
          "format": "email",
          "maxLength": 254,
          "minLength": 1
        },
        "name": {
          "title": "Nome",
          "type": "string",
          "maxLength": 255,
          "x-nullable": true
        },
        "phone": {
          "title": "Telefone",
          "type": "string",
          "maxLength": 11,
          "x-nullable": true
        },
        "locals": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/User.Local"
          }
        }
      }
    },
    "UserBody": {
      "required": [
        "email",
        "password"
      ],
      "type": "object",
      "properties": {
        "email": {
          "title": "Email",
          "type": "string",
          "format": "email",
          "minLength": 1
        },
        "password": {
          "title": "Password",
          "type": "string",
          "minLength": 8
        },
        "name": {
          "title": "Name",
          "type": "string",
          "minLength": 1
        },
        "phone": {
          "title": "Phone",
          "description": "Telefone com apenas 11 números",
          "type": "string",
          "minLength": 1
        }
      }
    },
    "UserChangePasswordBody": {
      "required": [
        "password"
      ],
      "type": "object",
      "properties": {
        "password": {
          "title": "Password",
          "type": "string",
          "minLength": 8
        }
      }
    },
    "UserCreateBody": {
      "required": [
        "email",
        "password",
        "number"
      ],
      "type": "object",
      "properties": {
        "email": {
          "title": "Email",
          "type": "string",
          "format": "email",
          "minLength": 1
        },
        "password": {
          "title": "Password",
          "type": "string",
          "minLength": 8
        },
        "number": {
          "title": "Number",
          "type": "string",
          "maxLength": 6,
          "minLength": 6
        }
      }
    },
    "UserCreateResponse": {
      "required": [
        "email"
      ],
      "type": "object",
      "properties": {
        "id": {
          "title": "Id",
          "type": "string",
          "format": "uuid",
          "readOnly": true
        },
        "is_staff": {
          "title": "Acessa Admin ?",
          "description": "Decide se o usuário pode acessar ao Django Admin",
          "type": "boolean"
        },
        "email": {
          "title": "Email",
          "type": "string",
          "format": "email",
          "maxLength": 254,
          "minLength": 1
        },
        "name": {
          "title": "Nome",
          "type": "string",
          "maxLength": 255,
          "x-nullable": true
        },
        "phone": {
          "title": "Telefone",
          "type": "string",
          "maxLength": 11,
          "x-nullable": true
        }
      }
    },
    "UserExistBody": {
      "required": [
        "email"
      ],
      "type": "object",
      "properties": {
        "email": {
          "title": "Email",
          "type": "string",
          "format": "email",
          "minLength": 1
        }
      }
    },
    "UserForgotPasswordBody": {
      "required": [
        "email",
        "number",
        "password"
      ],
      "type": "object",
      "properties": {
        "email": {
          "title": "Email",
          "type": "string",
          "format": "email",
          "minLength": 1
        },
        "number": {
          "title": "Number",
          "type": "string",
          "maxLength": 6,
          "minLength": 6
        },
        "password": {
          "title": "Password",
          "type": "string",
          "minLength": 8
        }
      }
    },
    "UserMeResponse": {
      "required": [
        "email",
        "locals"
      ],
      "type": "object",
      "properties": {
        "id": {
          "title": "Id",
          "type": "string",
          "format": "uuid",
          "readOnly": true
        },
        "email": {
          "title": "Email",
          "type": "string",
          "format": "email",
          "maxLength": 254,
          "minLength": 1
        },
        "name": {
          "title": "Nome",
          "type": "string",
          "maxLength": 255,
          "x-nullable": true
        },
        "phone": {
          "title": "Telefone",
          "type": "string",
          "maxLength": 11,
          "x-nullable": true
        },
        "locals": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/User.Local"
          }
        }
      }
    },
    "UserSendCodeBody": {
      "required": [
        "email"
      ],
      "type": "object",
      "properties": {
        "email": {
          "title": "Email",
          "type": "string",
          "format": "email",
          "minLength": 1
        }
      }
    },
    "UserDetailResponse": {
      "required": [
        "email"
      ],
      "type": "object",
      "properties": {
        "id": {
          "title": "Id",
          "type": "string",
          "format": "uuid",
          "readOnly": true
        },
        "is_staff": {
          "title": "Acessa Admin ?",
          "description": "Decide se o usuário pode acessar ao Django Admin",
          "type": "boolean"
        },
        "email": {
          "title": "Email",
          "type": "string",
          "format": "email",
          "maxLength": 254,
          "minLength": 1
        },
        "name": {
          "title": "Nome",
          "type": "string",
          "maxLength": 255,
          "x-nullable": true
        },
        "phone": {
          "title": "Telefone",
          "type": "string",
          "maxLength": 11,
          "x-nullable": true
        }
      }
    },
    "UserDetailBody": {
      "required": [
        "email"
      ],
      "type": "object",
      "properties": {
        "email": {
          "title": "Email",
          "type": "string",
          "minLength": 1
        },
        "name": {
          "title": "Name",
          "type": "string",
          "minLength": 1
        },
        "phone": {
          "title": "Phone",
          "description": "Telefone com apenas 11 números",
          "type": "string",
          "minLength": 1
        }
      }
    }
  }
}